{% extends 'base.html' %}
{% block content %}
<body>
<link href="{{ url_for('static', filename='css/ts.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/jqts.js') }}"></script>
<script src="{{ url_for('static', filename='js/ts.js') }}"></script>
</body>
<h1>Rackets</h1>
<table id="rackets" class="tablesorter table table-hover">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Racket Name</th>
			<th scope="col">Reward</th>
			<th scope="col">Created</th>
            <th scope="col">Changed</th>
			<th scope="col">Territory Owner</th>
			<th scope="col">Sector</th>
			<th scope="col">Level</th>
		</tr>
	</thead>
	<tbody>
	{% for racket in rackets %}
		<tr>
			<td><a href="https://www.torn.com/city.php#terrName={{ racket.TerritoryName }}" title="racket">{{ racket.TerritoryName }}</a></td>
			<td>{{ racket.RacketName }}</td>
			<td>{{ racket.Reward }}</td>
			<td>{{ racket.Created | datetimefilter}}</td>
            <td>{{ racket.Changed | datetimefilter}}</td>
			<td><a href="https://www.torn.com/factions.php?step={{ racket.Owner }}" title="profile">{{ racket.OwnerName }}</a></td>
			<td>{{ racket.Sector }}</td>			
			<td>{{ racket.Level }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
